<mat-form-field >
  <mat-label >فیلتر</mat-label>
  <!-- <input  matInput (keyup)="applyFilter($event)" placeholder="برای مثال: تهران"> -->
  <input matInput [(ngModel)]="searchKey" placeholder="برای مثال: تهران" autocomplete="off" (keyup)="applyFilter()">
  <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<!--
<div class="mat-elevation-z8" >
  <table mat-table [dataSource]="listData" matSort>

    <ng-container matColumnDef="cured">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >  بهبودیافتگان </th>
      <td mat-cell *matCellDef="let row" style="color: green;"> {{row.cured}} </td>
    </ng-container>

    <ng-container matColumnDef="death">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> فوت شدگان </th>
      <td mat-cell *matCellDef="let row" style="color: rgb(223, 25, 25);"> {{row.death}} </td>
    </ng-container>

    <ng-container matColumnDef="case">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> مبتلایان </th>
      <td mat-cell *matCellDef="let row" style="color: #f1c40f;"> {{row.case}} </td>
    </ng-container>
    <ng-container matColumnDef="provinces">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> استان </th>
      <td mat-cell *matCellDef="let row"> {{row.provinces}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> تاریخ </th>
      <td mat-cell *matCellDef="let row" > {{row.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> -->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listData" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="cured">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> بهبودیافتگان  </th>
      <td mat-cell *matCellDef="let element" style="color: green;"> {{element.cured}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="death">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> فوت شدگان  </th>
      <td mat-cell *matCellDef="let element" style="color: rgb(223, 25, 25);"> {{element.death}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="case">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  مبتلایان  </th>
      <td mat-cell *matCellDef="let element" style="color: #f1c40f;"> {{element.case}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="provinces">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> استان </th>
      <td mat-cell *matCellDef="let element"> {{element.provinces}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> تاریخ </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
