
<div class="content" role="main">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="provinceselection" ngbDropdownToggle >{{SelectedCity}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
          <!-- <form (submit)="SelectCity($event)"> -->
          <button id="city" ngbDropdownItem *ngFor="let city of Cities ; let i=index" (click)="SelectCity($event)">{{city}}</button>
          <!-- </form> -->
        </div>
      </div>
    </div>


</div>



